@import 'sass-rem';
@import '~styles/mixins';
@import '~styles/variables';

.no-match-holder {
  @include three-dim-text;

  font-size: rem(80px);
  animation: move 5s linear infinite alternate;
}

@keyframes move {
  0% {
    color: $bg-end;
  }

  100% {
    color: $bg-start;
  }
}
