// colors
$yankees-blue: #181743;
$sapphire-blue: #265d6f;
$medium-sky-blue: #68e8e8;
$royal-blue: #4a74e0;
$iris: #6055c1;
$white: #fff;

// map
$bg-start: $yankees-blue;
$bg-end: $sapphire-blue;
$search-bar-text: $yankees-blue;
$repo-name: $medium-sky-blue;
$repo-odd: $royal-blue;
$repo-even: $iris;
$repo-attention: $white;

// fonts
$regular: 400;
$normal: 400;
$medium: 500;
$bold: 700;
