@import 'sass-rem';
@import '~styles/mixins';
@import '~styles/variables';

.search-bar {
  @include size(500px, 50px);

  padding: 5px;
  font-size: rem(35px);
  color: $search-bar-text;
  text-align: center;
  border-radius: 10px;
}
