@import 'sass-rem';
@import '~styles/mixins';
@import '~styles/variables';

.search-bar {
  @include size(520px, 50px);
  @include horizontal-center($type: margin);
  @include flex-center;
}

.text-field {
  @include size(450px, 50px);

  padding: 5px;
  font-size: rem(35px);
  color: $search-bar-text;
  text-align: center;
  border: 0;
  border-radius: 10px 0 0 10px;
  outline: none;
  transition: 0.3s;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px $search-bar-hover inset;
  }
}

.submit-btn {
  @include size(70px, 50px);
  @include flex-center;

  background: $btn;
  border-radius: 0 10px 10px 0;
  outline: none;
  transition: 0.3s;

  .icon {
    @include size(20px, 20px);

    transition: 0.3s;
  }

  &:hover {
    background: $search-bar-hover;

    .icon {
      @include size(30px, 30px);
    }
  }
}
