@import 'sass-rem';
@import '~styles/mixins';
@import '~styles/variables';

.header {
  @include size(100%, 200px, 200px);

  // border: 1px solid #f00;
}

.icon {
  vertical-align: middle;
}

.title {
  margin-left: 40px;
  font-size: rem(80px);
  color: #fff;
  vertical-align: middle;
}
