@import 'sass-rem';
@import '~styles/mixins';
@import '~styles/variables';

.repo-data {
  @include size(80%);
  @include horizontal-center($type: margin);

  margin-top: 60px;
  font-size: rem(45px);
  text-align: center;

  > *:not(:first-child) {
    &:nth-child(odd) {
      color: $repo-odd;
    }

    &:nth-child(even) {
      color: $repo-even;
    }

    &::before {
      font-size: rem(30px);
      content: '●';
    }
  }
}

.repo-name {
  font-size: rem(65px);
  color: $repo-name;
}

.repo-attention {
  font-size: rem(80px);
  color: $repo-attention;
}
